<!DOCTYPE html>
<html>
<head>
	<title>ebay2</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
</head>
<body>
	<header>ebay2 <a href="{{url_for('sell')}}" class="btn btn-primary btn active" role="button">Sell</a>
		<a href="{{url_for('index')}}" class="btn btn-primary btn active" role="button">Home</a>
		{% if 'username' not in session %}
		<a href="{{url_for('showLogin')}}" class="btn btn-primary btn active" role="button">Log In</a>
		{% else %}
		<a href="{{url_for('gdisconnect')}}" class="btn btn-primary btn active" role="button">Log Out</a></header>
		{% endif %}
		

	<aside>
		<ul>
			{% for i in cats %}
			<li><a href="{{url_for('category', cat = i)}}">{{i}}</a></li>
			{% endfor %}
		</ul>
	</aside>
	<main>
		<h2>{{cat}} items</h2>
		<ul>
			{% for i in cat_items %}
			<li><a href="{{url_for('item', cat = cat, item = i)}}">{{i}}</a></li>
			{% endfor %}
		</ul>
		<h3>{{item}}</h3>
		<p>Description</p>
	</main>
</body>
</html>